header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}