body {
    background-image: url(../images/background.jpg);
}


/* Cabeçalho */

header {
    width: 100%;
    display: flex;
    background-color: #1E1F22;
    justify-content: space-between;
    height: 5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;

}

header>img {
    width: 120px;
    margin-left: 1rem;
}

header nav {
    width: 60%;
}

nav ul {
    height: 5rem;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

li a {
    font-size: 1.3rem;
    color: #B8B9BC;
    transition: 300ms all;
}

li>a:hover {
    color: #FFE81F;
}

li a:active {
    color: #000;
}

/* Seção principal */


main {
    width: 100%;
    display: flex;
    justify-content: center;
}

main .main-panel{
    width: 75%;
    background-color: #2B2D31;
    display: flex;
    padding: 2rem 1rem;
    border-radius: 5px;
    gap: 1rem;


}


/* Painéis de conteúdo */


.left-panel {
    width: 50%;
    color: #FFF;
    
   
}

.left-panel h1 {
    font-size: 50px;
}

.left-panel p {
    font-size: 18px;
    margin-top: 3rem;
}


.right-panel {
    width: 50%;
    display: flex;
    justify-content: center;
}

.right-panel img {
    width: 400px;
    border-radius: 50%;
    border: 1px solid black;

}